<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Início</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <div class="container">

        <h1>Bem-vindo!</h1>

        <p>
            Olá, {{ session["usuario"] }}!
        </p>

        <p>
            Sistema de recomendações e avaliações de livros.
        </p>

        <a href="{{ url_for('auth.logout') }}">
            Sair
        </a>

    </div>

</body>

</html>